.add-restaurant-form {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 1rem auto 1rem auto;

  &-btn-container {
    display: flex;
    justify-content: center;
    button {
      margin: 0 1rem;
    }
  }
}
