<div class="page-container">
  <header class="page-header"></header>
  <div class="page-content">
    <section class="map-container">
      <h2>Map</h2>
      <google-map class="map" [options]="googleMapOptions"></google-map>
    </section>
    <section class="restaurants-list-container">
      <h2>Liste des restaurants</h2>
      <app-restaurant-list
        [restaurant]="restaurant$ | async"
        (add)="onAdd($event)"
      ></app-restaurant-list>
    </section>
  </div>
  <footer class="page-footer"></footer>
</div>
<router-outlet></router-outlet>
