<div class="page-container">
  <header class="page-header"></header>
  <div class="page-content">
    <section class="restaurants-list-container">
      <app-restaurant-list
        class="restaurants-list"
        [restaurantsWithRatings]="restaurantsWithRatings$ | async"
        (add)="onAdd($event)"
        (zoomOnRestaurant)="zoomOnRestaurant($event)"
      ></app-restaurant-list>
    </section>
    <section class="map-container">
      <google-map
        width="1100px"
        height="550px"
        class="map"
        [options]="googleMapOptions"
        (mapClick)="refreshRestaurantsList($event)"
      >
        <map-marker
          *ngFor="let position of markerInfos.positions; let i = index"
          [position]="position"
          [options]="markerOptions"
          [title]="markerInfos.titles[i]"
        ></map-marker>
      </google-map>
    </section>

    <!--<section class="restaurants-list-container">
      <h2>Restaurants Favoris</h2>
      <app-restaurant-collection
        [restaurants]="restaurantCollection$ | async"
        (remove)="onRemove($event)"
      ></app-restaurant-collection>
    </section>-->
  </div>
  <footer class="page-footer"></footer>
</div>
<router-outlet></router-outlet>
