@use "../styles/abstracts/variables";

.page-content {
  grid-area: content;
  display: flex;
}

.map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.restaurants-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  width: variables.$list-width;
}

.restaurants-list {
  width: 100%;
}

.ratings {
  color: red;
}
