<div class="page-container">
  <header class="page-header"></header>
  <div class="page-content">
    <section class="map-container">
      <h2>Map</h2>
      <google-map class="map" [options]="googleMapOptions"></google-map>
    </section>
    <section class="restaurants-list-container">
      <h2>Liste des restaurants</h2>
      <ul>
        <li
          class="restaurant"
          *ngFor="let restaurant of restaurants; trackBy: trackByFn"
          (click)="zoomOnRestaurant(restaurant)"
        >
          {{ restaurant | json }}
          <span class="ratings"
            >Notes moyennes :
            {{ restaurantRatingsAvg(restaurant.ratings) }}</span
          >
        </li>
      </ul>
    </section>
  </div>
  <footer class="page-footer"></footer>
</div>
<router-outlet></router-outlet>
