.page-content {
  grid-area: main;
  display: flex;
  flex: 1 1 0px;
}

.map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid red 1px;
  width: 70%;
}

.restaurants-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  border: solid red 1px;
  width: 30%;
}

.ratings {
  color: red;
}
